

#main-section {
	width:80%;
	color:#DC143C;
	font-size:larger;
	margin:50px auto;
	padding:50px 10px;
	border-radius:5px;
	text-align:center;
	background-color:#00BFFF;
}




@media only screen and (min-width:600px) {

	#main-section {
		width:70%;
	}
}


@media only screen and (min-width:768px) {


	#main-header {
		position:static;
	}

	#main-header > div {
		width:100%;
		text-align:center;
	}

	#main-section {
		width:60%;
		margin:80px auto;
	}
}


@media only screen and (min-width:992px) {

	
	#main-section {
		width:50%;
		margin:100px auto;
	}

}


@media only screen and (min-width:1200px) {

	
	#main-section {
		width:40%;
		margin:120px auto;
	}

}














