


.project-box {
	width:95%;
	margin:auto;
	background-color:#FFFFFF;
	border-bottom:1px solid #DCDCDC;
}


.project-box > svg {
	width:25%;
	height:80px;
	padding:10px;
	display:inline-block;
	borderr:1px solid black;
}

.project-box > a {
	width:75%;
	padding:5px;
	color:#000000;
	vertical-align:top;
	display:inline-block;
	borderr:1px solid black;
}

.project-box > a:active {
	background-color:#DCDCDC;
}

.project-box-topic {
	font-size:larger;
	font-weight:bold;
}

.project-box-school {
	margin:5px auto;
}

.project-box-university {
	color:#00BFFF;
}

.project-box-department {
	color:#008000;
}

.project-box-participants-and {
	color:#FFFFFF;
	padding:2px 5px;
	font-weight:bold;
	margin-right:5px;
	border-radius:50%;
	background-color:#808080;
}

.project-box-participant {
	margin-right:5px;
}

.project-box-participant-img {
	width:25px;
	height:25px;
	border-radius:5px;
	display:inline-block;
	vertical-align:middle;
	border:1px solid #808080;
}

.project-box-participant-name {
	
}

.project-box-rating {
	margin-top:10px;
}


.project-box-rating > svg {
	width:20px;
	fill:#FFD700;
}




@media only screen and (min-width:600px) {

	.project-box {
		width:90%;	
	}

	.project-box > svg {
		width:20%;
	}

	.project-box > a {
		width:80%;
	}





}



@media only screen and (min-width:768px) {


	.project-box {
		width:45%;
		text-align:left;
		display:inline-block;
	}




}



@media only screen and (min-width:992px) {

	
	.project-box {
		width:40%;
	}




}



@media only screen and (min-width:1200px) {


	.project-box > svg {
		height:100px;
	}


}














































