

#user-settings-nav {
	background-color:#FFFFFF;
}


#user-settings-nav > a {
	padding:10px;
	display:block;
	color:#00BFFF;
	font-weight:bold;
	border-bottom:1px solid #00BFFF;
}

#user-settings-nav > a.active {
	color:#FFFFFF;
	background-color:#00BFFF;
}

#user-settings-nav > a:active {
	background-color:#DCDCDC;
}


#user-settings-img {
	width:150px;
	height:150px;
	display:block;
	border-radius:5px;
	margin:10px auto;
	border:1px solid #DCDCDC;
}


#photo-input {
	width:90%;
	height:40px;
	padding:2px;
	display:block;
	color:#FFFFFF;
	margin:20px auto;
	border-radius:5px;
	background-color:#DC143C;
	border:1px solid #DC143C;
}





@media only screen and (min-width:768px) {

	
	#sub-section {
		width:40%;
		z-index:1;
		overflow:auto;
		position:fixed;
	}

	#main-section {
		width:58%;
		margin-left:42%;
	}

	#user-settings-nav > a {
		padding:30px 10px;
		border-right:1px solid #00BFFF;
	}




}



@media only screen and (min-width:992px) {

	
	#sub-section {
		width:35%;
	}

	#main-section {
		width:63%;
		margin-left:37%;
	}


}


@media only screen and (min-width:1200px) {

	#sub-section {
		width:30%;
	}

	#main-section {
		width:68%;
		margin-left:32%;
	}
	
	
}













