
#main-section {
	padding: var(--dimen-md) 0;
}

#departments-heading {
	display: flex;
	align-items: center;
	column-gap: var(--dimen-md);
	justify-content: space-between;
}

#departments-heading > h2 {
	margin: 0;
}

#departments-heading > a {
	padding: var(--dimen-xs);
	color: var(--color-on-primary);
	background-color: var(--color-primary);
	border-radius: var(--dimen-xs);
}

#departments-heading > a:hover {
	background-color: var(--color-primary-variant);
}

#departments-list {
	padding: 0;
	list-style: none;
	margin: var(--dimen-md) 0;
}

.department-item {
	margin: 0;
	display: flex;
	align-items: center;
	margin-bottom: var(--dimen-md);
}

.department-item > a {
	width: 100%;
	display: flex;
	align-items: center;
	padding: var(--dimen-sm);
	column-gap: var(--dimen-xs);
	color: var(--color-on-surface);
	border-radius: var(--dimen-xs);
}

.department-item > a:hover {
	background-color: var(--color-background);
}

.department-item > a > div {
	flex-grow: 1;
}

.department-item svg {
	width: var(--dimen-xxl);
	height: var(--dimen-xxl);
	fill: var(--color-primary)
}

.department-item-head {
	font-weight: bold;
}

@media only screen and (min-width:768px) {
	#departments-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--dimen-sm);
	}

	.department-item {
		flex-basis: 48%;
	}
}
