
#main-section {
	width: 80%;
	font-size: larger;
	text-align: center;
	color: var(--color-primary);
	margin: var(--dimen-huge) auto;
	border-radius: var(--dimen-xs);
	background-color: var(--color-secondary);
	padding: var(--dimen-huge) var(--dimen-sm);
}

@media only screen and (min-width:600px) {
	#main-section {
		width:70%;
	}
}

@media only screen and (min-width:768px) {
	#main-section {
		width: 30em;
	}
}
