
#index-welcome {
	padding: 5em var(--dimen-xxl);
	background-color: var(--color-surface);
}

#index-welcome-note {
	font-family: pj;
	text-align: center;
	font-size: xx-large;
	color: var(--color-primary);
	animation: moveit var(--anim-duration);
	-webkit-animation: moveit var(--anim-duration);
}

#index-welcome-small-note {
	text-align: center;
	margin: var(--dimen-xxl) auto;
	color: var(--color-on-background);
	animation: moveitt var(--anim-duration);
	-webkit-animation: moveitt var(--anim-duration);
}

#index-welcome-link {
	display: block;
	font-size: large;
	width: fit-content;
	text-align: center;
	margin: var(--dimen-lg) auto;
	color: var(--color-on-primary);
	border-radius: var(--dimen-sm);
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	animation: moveit var(--anim-duration);
	padding: var(--dimen-md) var(--dimen-xxl);
	-webkit-animation: moveit var(--anim-duration);
}

#index-welcome-link:active, 
#index-welcome-link:hover {
	background-color: var(--color-primary-variant);
}


@keyframes moveit {
	from { transform:translateX(-100%); }
	to { transform:translateX(0%); }
}

@-webkit-keyframes moveit {
	from { transform:translateX(-100%); }
	to { transform:translateX(0%); }
}

@keyframes moveitt {
	from { transform:translateX(100%); }
	to { transform:translateX(0%); }
}

@-webkit-keyframes moveitt {
	from { transform:translateX(100%); }
	to { transform:translateX(0%); }
}

