/*=== PROJECT3 STYLE SHEET ===*/

@font-face {
	src:url(fonts/Pacifico-Regular.ttf);
	font-family:pj;
}


html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	margin:0;
	padding:0;
	overflow:auto;
	min-width:300px;
	min-height:100%;
	position:relative;
	font-family:normal;
	background-color:#FFFFFF;
}

* {
	box-sizing:border-box;
}

*::-moz-focus-inner {
	border:0;
}

*:focus {
	outline:0 !important;
}

a {
	text-decoration:none;
}

input, select, textarea, button {
	outline:none;
	font-size:medium;
}


/*=== Header styles ===*/


#main-header {
	width:100%;
	display: flex;
	padding:10px 0;
	color:#FFFFFF;
	align-items: center;
	background-color:#DC143C;
}

#main-header h1 {
	font-size: 2em;
	margin-top: 0;
	font-family: pj;
	margin-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

#main-header h1 > a {
	color: #FFFFFF;
}

#main-header > div,
#main-header > nav {
	display: inline-block;
	vertical-align: middle;
	/* border: 1px solid blue; */
}

/* #main-header-div-1 {
} */

#main-header-div-2 {
	width: 0;
	overflow: hidden;
}

#main-header-div-3 {
	text-align:right;
}

.header-btn {
	border:none;
	color:#FFFFFF;
	padding:0.625em;
	display:inline-block;
	margin-right:0.625em;
	background-color:#DC143C;
}

.header-btn > svg {
	width:20px;
	height:20px;
	fill:#FFFFFF;
}

.header-btn:active {
	color:#DC143C;
	background-color:#FFFFFF;
}

.header-btn:active > svg {
	fill:#DC143C;
}

#header-user {
	position:relative;
	display:inline-block;
}

#header-user > nav {
	right:30%;
	z-index:1;
	width:140px;
	display:none;
	border-radius:5px;
	position:absolute;
	background-color:#FFFFFF;
	box-shadow:0 4px 8px 0 rgba(0, 191, 255, 0.3);
}

#header-user > nav::after {
	left:90%;
	bottom:100%;
	content:" ";
	margin-left:-5px;
	position:absolute;
	border:5px solid transparent;
	border-bottom-color:#FFFFFF;
}

#header-user > nav > a {
	padding:5px;
	color:#00BFFF;
	display:block;
	text-align:left;
	background-color:#FFFFFF;
	border-bottom:1px solid #00BFFF;
}

#header-user > nav > a:active {
	background-color:#DCDCDC;
}

#header-user > nav > a:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#header-user > nav > a:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#header-user > nav > a > svg {
	width:15px;
	height:15px;
	fill:#00BFFF;
	display:inline;
	vertical-align:middle;
}

#notify {
	width:10px;
	height:10px;
	border-radius:50%;
	display:inline-block;
	background-color:#FF0000;
}

#header-user:hover > nav {
	display:block;
}

/*=== Header styles ends ===*/



/*=== Search styles ===*/

#search-form {
	left: 5%;
	z-index: 1;
	display: flex;
	position: fixed;
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
	transform: scale(0, 0);
	transition: transform 0.5s;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

#search-input {
	border:none;
	height:50px;
	flex-grow: 1;
	border-radius:0;
	padding:5px 10px;
	vertical-align:top;
	display:inline-block;
	background-color:#FFFFFF;
}

.search-btn {
	height:50px;
	border:none;
	border-radius:0;
	text-align:center;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align:top;
	background-color:#FFFFFF;
}

.search-btn:active {
	background-color:#DCDCDC;
}

.search-btn > svg {
	width: 20px;
	height: 20px;
	display: inline-block;
}


#search-form-blur {
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	transform: scale(0, 0);
	background-color: rgba(0,0,0,0.3);
}


#search-form.show-search-form,
#search-form-blur.show-search-form {
	transform: scale(1, 1);
}


/*=== Search styles ends ===*/



/*=== Footer styles ===*/


#footer-pad {
	height:150px;
}

#main-footer {
	bottom:0;
	width:100%;
	position:absolute;
	text-align:center;
	border-top:1px solid #FFFFFF;
	background-image:linear-gradient(to bottom right, #00BFFF, #FF0000);
}

#main-footer-links {
	padding:20px 0px;
}

#main-footer-links > a {
	margin:5px;
	padding:5px;
	color:#FFFFFF;
	display:inline-block;
	border-bottom:1px solid #FFFFFF;
}

#main-footer-links > a:active {
	border:1px solid #FFFFFF;
}

#main-footer-footer {
	padding:20px 0px;
	font-weight:bold;
}


/*=== Footer styles ends ===*/



/*=== Input styles ===*/

#main-form {
	width:90%;
	margin:30px auto;
	padding:10px 0px;
	border-radius:5px;
	background-color:#FFFFFF;
}

#main-form-btn {
	width:50%;
	height:50px;
	display:block;
	color:#FFFFFF;
	margin:20px auto;
	border-radius:5px;
	background-color:#DC143C;
	border:1px solid #DC143C;
}

#main-form-btn:active {
	color:#DC143C;
	background-color:#FFFFFF;
}


.main-form-note {
	margin:10px auto;
	max-width:80%;
	font-size:small;
	text-align:center;
}

.main-form-note > a {
	color:#00BFFF;
}

.main-form-note > a:active {
	background-color:#DCDCDC;
}



.input-span {
	margin:5px;
	font-size:small;
	display:inline-block;
}

.input-span-2 {
	margin:5px;
	color:#808080;
	font-size:small;
	margin-bottom:0;
	display:inline-block;
}

.input-error-span {
	color:red;
	display:block;
	font-size:small;
	margin:0 5px 5px 5px;
}

.input-box, 
div.input-box {
	width:95%;
	margin:auto;
	display:block;
	margin-top:5px;
	margin-bottom:10px;
}

.main-input {
	width:100%;
	height:40px;
	margin:auto;
	padding:5px;
	border:none;
	color:#000000;
	display:block;
	border-radius:5px;
	background-color:#F5F5F5;
	border-bottom:1px solid #DC143C;
}

.main-button {
	width:100%;
	height:40px;
	border:none;
	color:#FFFFFF;
	display:block;
	margin:20px auto;
	border-radius:5px;
	background-color:#DC143C;
	border:1px solid #DC143C;
}

.main-textarea {
	width:100%;
	resize:none;
	margin:auto;
	border:none;
	display:block;
	height:6.25em;
	padding:0.3125em;
	border-radius:5px;
	font-family:normal;
	background-color:#F5F5F5;
	border-bottom:1px solid #DC143C;
}

.main-select {
	width:100%;
	height:40px;
	margin:auto;
	padding:5px;
	border:none;
	color:#000000;
	display:block;
	border-radius:5px;
	background-color:#F5F5F5;
	border-bottom:1px solid #DC143C;
}


.main-input:focus,
.main-select:focus, 
.main-textarea:focus {
	border-width:2px;
}


.form-error-box {
	color:red;
	padding:5px 0;
	margin:10px auto;
	text-align:center;
	border:1px solid #FF0000;
}

.form-success-box {
	color:green;
	padding:5px 0;
	margin:10px auto;
	text-align:center;
	border:1px solid #008000;
}

/*=== Input styles ends ===*/



.pagination-box {
	text-align:center;
	margin:1.25em auto;
}

.pagination-box > a, 
.pagination-box > span {
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	padding:0.625em 0.8125em;
	background-color:#DC143C;
}

.pagination-box > a > svg, 
.pagination-box > span > svg {
	width:12px;
	height:12px;
	display:inline-block;
}

.pagination-box > a.active {
	color:#DC143C;
	background-color:#FFFFFF;
}

.pagination-box > a:active,
.pagination-box > a.active:active {
	background-color:#DCDCDC;
}

.pagination-box > span {
	background-color:#808080;
}



#entity-nav {
	width:100%;
	overflow-x:auto;
	text-align:center;
	white-space:nowrap;
	margin-bottom:10px;
}

#entity-nav > a {
	color:#000000;
	padding:15px 8px;
	font-weight:bold;
	display:inline-block;
	background-color:#FFFFFF;
	border-top:1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
}


#entity-nav > a.active {
	border-bottom:2px solid #DC143C;
}

#entity-nav > a:active {
	background-color:#DCDCDC;
}




.no-data-box {
	width:90%;
	clear:both;
	display:block;
	color:#DC134C;
	margin:10px auto;
	padding:50px 5px;
	text-align:center;
	border-radius:5px;
	font-size:x-large;
	background-color:#FFC0CB;
}




.hide, 
form.hide {
	display:none;
}




@media only screen and (min-width:360px) {

	/* body {
		background-colorr:blue;
	} */
	
	
}


@media only screen and (min-width:600px) {

	/* body {
		background-colorr:lime;
	} */

	#main-form {
		width:80%;
		margin:50px auto;
	}
}


@media only screen and (min-width:768px) {

	/* body {
		background-colorr:yellow;
	} */

	#main-header {
		top:0;
		z-index:1;
		position:fixed;
	}

	#header-pad {
		height:77px;
		background-color:#DC143C;
	}

	#main-header-div-2 {
		width: auto;
		flex-grow: 1;
	}

	#search-show-btn,
	#search-hide-btn {
		display:none;
	}


	#search-form {
		position: static;
		border-radius: 5px;
		transform: scale(1, 1);
		border: 1px solid #FFFFFF;
	}

	#search-input {
		height:40px;
	}

	.search-btn {
		height:40px;
		background-color:#DC143C;
		border-top-right-radius:5px;
		border-bottom-right-radius:5px;
	}

	.search-btn > svg {
		fill:#FFFFFF;
	}

	.header-btn {
		margin-right:5px;
	}

	#header-user {
		height:100%;
		vertical-align:top;
	}

	#header-user > span {
		display:none;
	}

	#header-user > nav {
		width:auto;
		box-shadow:none;
		position:static;
		display:inline-block;
		background-color:#DC143C;
	}

	#header-user > nav::after {
		display:none;
	}

	#header-user > nav > a {
		padding:10px;
		color:#FFFFFF;
		margin-right:5px;
		text-align:center;
		border-bottom:none;
		display:inline-block;
		background-color:#DC143C;
	}

	#header-user > nav > a > span {
		display:none;
	}

	#header-user > nav > a > svg {
		width:20px;
		height:20px;
		fill:#FFFFFF;
	}

	#header-user > nav > a:active {
		color:#DC143C;
		background-color:#FFFFFF;
	}

	#header-user > nav > a:active > svg {
		fill:#DC143C;
	}

	#header-user > nav > a > span#notify {
		display:inline-block;
		background-color:#FFFFFF;
	}

	#header-user > nav > a:active > span#notify {
		background-color:#DC143C;
	}
	

	#main-footer-links > a {
		margin:5px 20px;
		padding:5px 10px;
	}

	#main-form {
		width: 30em;
		border: 1px solid #DCDCDC;
	}
}


@media only screen and (min-width:992px) {

	/* body {
		background-colorr:purple;
	} */

	.header-btn,
	#header-user > nav > a {
		margin-right:10px;
	}

}


@media only screen and (min-width:1200px) {

	/* body {
		background-colorr:aqua;
	} */

}
