

#main-section,
#sub-section {
	margin:auto;
	padding:1px 0;
	background-color:#FFFFFF;
}


#entity-nav > a {
	min-width:20%;
}

#entity-nav.four > a {
	width:25%;
}

#entity-nav.two > a {
	width:50%;
}

#project-page-topic {
	margin:20px auto;
	background-colorr:pink;
}

#project-page-topic > svg {
	width:20%;
	height:80px;
	fill:#DC143C;
	padding:10px;
	display:inline-block;
	vertical-align:middle;
	borderr:1px solid black;
}

#project-page-topic > h1 {
	margin:0;
	width:80%;
	padding:5px;
	color:#000000;
	display:inline-block;
	vertical-align:middle;
	border:r1px solid black;
}



#project-page-download {
	padding:10px;
	color:#FFFFFF;
	display:block;
	margin:20px 10px;
	font-weight:bold;
	border-radius:5px;
	background-color:#00BFFF;
}

#project-page-download:active {
	background-color:#DCDCDC;
}

#project-page-download-blur {
	padding:10px;
	color:#FFFFFF;
	margin:20px 10px;
	font-weight:bold;
	border-radius:5px;
	background-color:#808080;
}



#project-page-school {
	padding:10px;
	display:block;
	color:#000000;
	borderr:1px solid pink;
}

#project-page-school:active {
	background-color:#DCDCDC;
}

#project-page-school > span {
	margin-right:5px;
}

#project-page-school-in {
	color:#FFFFFF;
	padding:2px 5px;
	font-weight:bold;
	border-radius:50%;
	margin-right:5px;
	background-color:#808080;
}

#project-page-school svg {
	width:20px;
	height:20px;
	fill:#008000;
	display:inline-block;
	vertical-align:middle;
}




#project-page-participants {
	borderr:1px solid black;
}

.project-page-participant {
	margin:20px auto;
}

.project-page-participant-head {
	width:20%;
	display:inline-block;
	borderr:1px solid black;
}

.project-page-participant-body {
	width:80%;
	padding:5px;
	color:#000000;
	vertical-align:top;
	display:inline-block;
	borderr:1px solid black;
}

.project-page-participant-body:active {
	background-color:#DCDCDC;
}

.project-page-participant-role {
	font-size:small;
}


.project-page-participant-img {
	width:50px;
	height:50px;
	margin:auto;
	display:block;
	border-radius:5px;
	border:1px solid #808080;
}




#project-page-privacy-date {
	padding:10px;
	color:#000000;
	font-size:small;
}

#project-page-privacy-date span {
	display:inline-block;
}

#project-page-privacy-date > span {
	padding:5px;
	margin-right:20px;
	border-radius:50px;
	border:1px solid #000000;
}

#project-page-privacy-date svg {
	width:15px;
	height:15px;
	fill:#000000;
	display:inline-block;
	vertical-align:middle;
}



#project-page-privacy-description {
	padding:10px;
	margin:30px auto;
	borderv:1px solid gray;
	box-shadow:0 4px 8px 2px rgba(0, 191, 255, 0.3);
}

#project-page-privacy-description > div {
	padding:40px 0;
	font-weight:bold;
	font-size:larger;
	text-align:center;
}


#project-page-rating {
	margin:40px auto;
	text-align:center;
	borderr:1px solid black;
}

#project-page-rating > svg {
	width:50px;
	height:50px;
	fill:#FFD700;
	display:inline-block;
}

#project-page-rating > div {
	font-weight:bold;
	font-size:larger;
}









@media only screen and (min-width:600px) {


	#project-page-topic > svg {
		width:17%;
	}

	#project-page-topic > h1 {
		width:83%;
	}

	#project-page-download {
		margin:20px 20px;
	}

	#project-page-download-blur {
		margin:20px 20px;
	}


	#project-page-school, 
	#project-page-privacy-date,
	#project-page-privacy-description {
		padding:10px 20px;
	}


	.project-page-participant-head {
		width:17%;
	}

	.project-page-participant-body {
		width:83%;
	}

	.project-page-participant-img {
		width:70px;
		height:70px;
	}



}



@media only screen and (min-width:768px) {

	#main-section,
	#sub-section {
		width:90%;
	}

	.project-page-participant-head {
		width:15%;
	}

	.project-page-participant-body {
		width:85%;
	}


}



@media only screen and (min-width:992px) {

	#main-section {
		width:70%;
	}

	#sub-section {
		width:80%;
	}
	

}


@media only screen and (min-width:1200px) {

	#main-section {
		width:60%;
	}

	#sub-section {
		width:70%;
	}


	

}


@media only screen and (min-width:1345px) {

	.project-page-participant-head {
		width:12%;
	}

	.project-page-participant-body {
		width:88%;
	}


}

















