


#search-show-btn {
	display:none;
}


#search-page-form {
	width:90%;
	margin:20px auto;
	text-align:center;
	border:1px solid #000000;
	background-color:#FFFFFF;
}

#search-page-input {
	width:85%;
	border:none;
	height:50px;
	padding:5px;
	border-radius:0;
	vertical-align:top;
	display:inline-block;
	background-color:#FFFFFF;
}

#search-page-btn {
	width:15%;
	height:50px;
	border:none;
	border-radius:0;
	text-align:center;
	vertical-align:top;
	background-color:#DC143C;
}

#search-page-btn:active {
	background-color:#DCDCDC;
}

#search-page-btn > svg {
	width:20px;
	height:20px;
	display:inline-block;
}


#result-count {
	width:90%;
	color:#808080;
	text-align:left;
	margin:20px auto;
	font-weight:bold;
	background-color:#FFFFFF;
}






@media only screen and (min-width:600px) {

	#main-section {
		width:90%;
		margin:auto;
	}
}


@media only screen and (min-width:768px) {

	
	#main-section {
		text-align:center;
	}

	#search-page-form {
		display:none;
	}

	#result-count {
		font-size:large;
	}

}



@media only screen and (min-width:992px) {

	#result-count {
		width:80%;
		font-size:x-large;
	}
	

}








