


#sub-section > svg {
	width:100px;
	padding:5px;
	height:100px;
	fill:#008000;
	display:block;
	margin:20px auto;
	border-radius:5px;
	border:1px solid #008000;
}



#university-page-name {
	font-weight:bold;
	font-size:larger;
	text-align:center;
	margin-bottom:10px;
}

#university-page-acronym {
	color:#808080;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

#university-page-description {
	padding:10px;
	margin-bottom:20px;
	bordger:1px solid red;
	background-color:#F3F3F3;
}

#university-page-address {
	color:#DC143C;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}


#entity-nav > a {
	width:50%;
}

#main-section {
	background-color:#F3F3F3;
	border-bottom:1px solid transparent;
}

#sub-section {
	background-color:#FFFFFF;
	border:1px solid transparent;
}





@media only screen and (min-width:600px) {

	#university-page-description {
		padding:10px 30px;
	}

}


@media only screen and (min-width:768px) {

	
	#sub-section {
		width:40%;
		z-index:1;
		overflow:auto;
		position:fixed;
	}

	#main-section {
		width:58%;
		margin-left:42%;
	}

	.project-box,
	.university-box {
		width:95%;
		display:block;
	}


}



@media only screen and (min-width:992px) {

	#sub-section {
		width:35%;
	}

	#main-section {
		width:63%;
		margin-left:37%;
	}
	

}


@media only screen and (min-width:1200px) {

	
	#sub-section {
		width:30%;
	}

	#main-section {
		width:68%;
		margin-left:32%;
		text-align:center;
	}
	
	.project-box,
	.university-box {
		width:45%;
		text-align:left;
		display:inline-block;
	}




}







