


#main-section {
	padding:20px 0;
}

.notification-box {
	width:90%;
	color:#000000;
	display:block;
	font-size:large;
	padding:10px 5px;
	margin:20px auto;
	border-radius:5px;
	border:1px solid #DCDCDC;
	background-color:#F3F3F3;
}

.notification-box:active {
	background-color:#FFFFFF;
}



@media only screen and (min-width:600px) {

	#main-section {
		width:90%;
		margin:auto;
	}
}


@media only screen and (min-width:768px) {

	
	#main-section {
		width:80%;
	}

}



@media only screen and (min-width:992px) {

	
	#main-section {
		width:70%;
	}

}


@media only screen and (min-width:1200px) {

	
	#main-section {
		width:60%;
	}

}




















