
#user-page-img > svg {
	width: 5em;
	height: 5em;
	display: block;
	padding: var(--dimen-lg);
	border: 1px solid #DCDCDC;
	margin: var(--dimen-lg) auto;
	border-radius: var(--dimen-sm);
}

#user-page-name {
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

#user-projects-head {
	display: flex;
	gap: var(--dimen-xs);
	align-items: center;
	font-weight: bold;
	width: fit-content;
	margin: var(--dimen-sm) 0;
	color: var(--color-primary);
	padding: 0 var(--dimen-sm) var(--dimen-sm);
	background-color: var(--color-surface);
	border-bottom: 1px solid var(--color-primary);
}

#user-projects-head > svg {
	width: var(--dimen-md);
	height: var(--dimen-md);
	fill: var(--color-primary);
}

#main-section {
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

#sub-section {
	padding:1px 0;
	background-color:#FFFFFf;
}



@media only screen and (min-width:600px) {

	#user-page-bio {
		padding:10px 30px;
	}
}


@media only screen and (min-width:768px) {

	
	#sub-section {
		width:40%;
		z-index:1;
		overflow:auto;
		position:fixed;
	}

	#main-section {
		width:58%;
		margin-left:42%;
	}

	.project-box {
		width:95%;
		display:block;
	}
}



@media only screen and (min-width:992px) {

	
	#sub-section {
		width:35%;
	}

	#main-section {
		width:63%;
		margin-left:37%;
	}
}


@media only screen and (min-width:1200px) {

	#sub-section {
		width:30%;
	}

	#main-section {
		width:68%;
		margin-left:32%;
		text-align:center;
	}
	
	.project-box {
		width:45%;
		text-align:left;
		display:inline-block;
	}
	

}
