#sub-section {
	padding: var(--dimen-lg);
}

#user-page-img > svg {
	width: 5em;
	height: 5em;
	display: block;
	padding: var(--dimen-lg);
	border: 1px solid #DCDCDC;
	fill: var(--color-secondary);
	margin: 0 auto var(--dimen-lg);
	border-radius: var(--dimen-sm);
}

#user-page-name {
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

#user-projects-head {
	display: flex;
	gap: var(--dimen-xs);
	align-items: center;
	font-weight: bold;
	width: fit-content;
	margin: var(--dimen-sm) 0;
	color: var(--color-primary);
	padding: 0 var(--dimen-sm) var(--dimen-sm);
	background-color: var(--color-surface);
	border-bottom: 1px solid var(--color-primary);
}

#user-projects-head > svg {
	width: var(--dimen-md);
	height: var(--dimen-md);
	fill: var(--color-primary);
}

#main-section {
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

@media only screen and (min-width:768px) {
}


@media only screen and (min-width:992px) {
}


@media only screen and (min-width:1200px) {
}
